<?php

define('DB_NAME', '<%= @database %>');
define('DB_USER', '<%= @user %>');
define('DB_PASSWORD', '<%= @password %>');
define('DB_HOST', 'localhost');
define('DB_CHARSET', 'utf8');
define('DB_COLLATE', '');

<%= @wp_secrets %>

$table_prefix = 'wp_';

define ('WPLANG', ''); 
define ('WP_DEBUG', false); 

if(!defined('ABSPATH') )
define ('ABSPATH', dirname(__FILE__) . "/");


require_once(ABSPATH . 'wp-settings.php');

